* {
  box-sizing: border-box;
  overflow: scroll;
}

body {
  font-family: sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
  margin: 0;

}

.main-grid {
  display: grid;
  grid-template-rows: [header] 1fr [content]auto [footer] 1fr;
  grid-template-columns:  [width] 375px;
  margin 0 auto;
  width: 375px;
  border: white 3px;
  border-style: solid;
}

.header {
  grid-row: header;
  background-color: var(--background-color-header);
  position: fixed;
  overflow: hidden;
  width: 100vw;
  top: 0;
}

header {
  color: whitesmoke;
}

.content-grid {
  display: flex;
  flex-direction: column;
  grid-row: content;
margin: 0 auto;
width: 375px;
height: 100vh;
grid-column: width;
padding: 50px;
  background-color: var(--background-color-content);
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  grid-row: footer;
  height: 80px;
  width:100vw;
  background-color: var(--background-color-footer);
  font-size: 40px;
  bottom: 0;
}



h1,
h2,
h3 {
  line-height: 1.3;
  text-align: center;
}

a {
  color: whitesmoke;
}

