* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
  margin: 0;
}

/*contains the whole page*/
.body {
  display: grid;
  grid-template-rows: [header] 80px [main] auto [footer] 80px;
  margin: 0 auto;
  min-width: 320px;
  height: 100vh;
  max-width: 60vh;
  border: white 3px;
  border-style: solid;
}

.home-header {
  display: flex;
  grid-row: header/main;
  background-color: var(--background-color-header);
  color: whitesmoke;
  justify-content: center;
}

.content-grid {
  display: flex;
  flex-direction: column;
  grid-row: main;
  overflow-y: scroll;
  margin: 0 auto;
  /*grid-column: width;*/
  padding: 50px;
  background-color: var(--background-color-content);
  padding-top: 10px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  grid-row: footer / 4;
  height: 80px;
  width: 100vw;
  background-color: var(--background-color-footer);
  font-size: 40px;
  bottom: 0;
}

.home-header-title h1,
h2,
h3 {
  line-height: 1.3;
  text-align: center;
}

a {
  color: whitesmoke;
}

.question {
  border: 2px solid rgb(170, 170, 224);
  padding: 0 5%;
  margin: 20px 0;
  font-size: 0.6em;
  background: var(--question-background-color);
  color: black;
  position: relative;
  border-radius: 5px;
}

.bookmark {
  color: whitesmoke;
  font-size: 2.5em;
  position: absolute;
  top: -10px;
  right: 10px;
  box-shadow: 2px 2px;
}

.answer {
  border: 1px solid rgb(170, 170, 224);
  width: 50%;
  margin: 0 autp 20px;
  text-align: center;
  padding: 2%;
}

.button {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.tag-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
  justify-content: space-evenly;
  align-items: center;
}

.tag-item {
  border: 1px solid #003462;
  text-align: center;
  padding: 2%;
  background-color: whitesmoke;
  box-shadow: 2px 2px;
}
