.create-question {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-y: scroll;
  padding: 10px;
  justify-items: center;
  align-items: center;
}

.adding-question {
  display: block;
  align-items: center;
}

input {
  display: block;
  margin: 5%;
}

label {
  display: block;
}
